[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psutil = "*"
pymem = "*"
protobuf = "*"

[dev-packages]
ruff = "*"
mypy = "*"
types-psutil = "*"
types-pillow = "*"
mkdocstrings = {extras = ["python"], version = "*"}
mkdocs = "*"
mkdocs-material = "*"
mkdocs-material-extensions = "*"
setuptools = "*"
build = "*"
grpcio-tools = "*"
types-protobuf = "*"
black = {extras = ["jupyter"], version = "*"}
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-benchmark = "*"
pytest-watch = "*"
pillow = "*"

[requires]
python_version = "3.13"
